body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-area {
    text-align: top;
    margin-top: 10px; /* Adjust the margin-top value as desired */
}

.font0,
.font1,
.font2,
.font3,
.font4 {
    font-size: 24px;
}

.font0 {
    font-family: Arial, sans-serif;
}

.font1 {
    font-family: Georgia, serif;
}

.font2 {
    font-family: 'Courier New', Courier, monospace;
}

.font3 {
    font-family: 'Lucida Console', Monaco, monospace;
}

.font4 {
    font-family: 'Times New Roman', Times, serif;
}

.specialChar {
    color: red;
}

.cursor {
    margin-left: 2px;
    font-size: 24px;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

.firstLetter {
    color: pink;
}
